<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" data-ng-app="<%= name %>" data-ng-strict-di class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" data-ng-app="<%= name %>" data-ng-strict-di class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" data-ng-app="<%= name %>" data-ng-strict-di class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" data-ng-app="<%= name %>" data-ng-strict-di class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>--> <html lang="en" data-ng-app="<%= name %>" data-ng-strict-di> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<base href="/">
		<title><%= name %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
	</head>
	<body>
		
		<header role="banner"></header>

		<nav role="navigation">
			
		</nav>
		
		<main role="main" data-ui-view></main>
		
		<footer role="complementary"></footer>

		<script type="text/javascript" src="vendor/angular/angular.min.js"></script>
		<script type="text/javascript" src="vendor/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<script type="text/javascript" src="vendor/lodash/lodash.min.js"></script>

		<script type="text/javascript" src="javascript/Controller/HomeController.js"></script>
		<script type="text/javascript" src="javascript/App.js"></script>
		<script type="text/javascript" src="javascript/Router.js"></script>
	</body>
</html>
